Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [4]:
import pandas as pd

def class_(rating):
    if rating <= 2:
        return 'низкий'
    elif rating <= 4:
        return 'средний'
    else: return 'высокий'

data = pd.read_csv('ml-latest-small/ratings.csv')
data['class'] = data['rating'].apply(class_)
data.head()

   userId  movieId  rating   timestamp    class
0       1       31     2.5  1260759144  средний
1       1     1029     3.0  1260759179  средний
2       1     1061     3.0  1260759182  средний
3       1     1129     2.0  1260759185   низкий
4       1     1172     4.0  1260759205  средний

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [3]:
keywords = pd.read_csv('ml-latest-small/keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [11]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

import re

In [15]:

def geo_class(keyword):
    words = re.findall(r'\w+', keyword)
    
    for word in words:
        for region, geo_keys in geo_data.items():
            if word in geo_keys:
                return region
    
    return 'undefined'

keywords['region'] = keywords['keyword'].apply(geo_class)

In [18]:
keywords[ keywords['region'] != 'undefined' ].head()

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад

Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

    В переменную years запишите список из всех годов с 1950 по 2010.

    Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
        для каждой строки пройдите по всем годам списка years
        если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
        если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

    Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

    Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [50]:
years = list(range(1950,2011))

def production_year(name):
    for year in years:
        if str(year) in name:
            return year
    return 1900

movies = pd.read_csv('ml-latest-small/movies.csv')
movies['year'] = movies['title'].apply(production_year)
movies = movies [['movieId', 'year']]
movies = movies.set_index('movieId') 
movies.head()

         year
movieId
1        1995
2        1995
3        1995
4        1995
5        1995

In [51]:
def give_year_to_id(id_):
    return movies['year'][id_]
data['year'] = data['movieId'].apply(give_year_to_id)
data.head()

   userId  movieId  rating   timestamp    class  year
0       1       31     2.5  1260759144  средний  1995
1       1     1029     3.0  1260759179  средний  1900
2       1     1061     3.0  1260759182  средний  1996
3       1     1129     2.0  1260759185   низкий  1981
4       1     1172     4.0  1260759205  средний  1989

In [57]:
data.groupby('year').mean()['rating'].sort_values(ascending=False).head()

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
Name: rating, dtype: float64